.graph-container {
   height: 200vh;
   background-color: #5f656f;
}

#casesGraph {
   position: absolute;
   top: 50%;
   left: 50%;

   background-color: #f9f9f9;
   border-radius: 1rem;

   overflow: visible;
   transform: translate(-50%, -50%);
}

#casesGraph .point {
   opacity: 0;
   z-index: 10;
}

.graphDescription {
   font-size: 0.8rem;
}

.graph-container #selectButton {
   position: absolute;
   z-index: 100;
}
