html {
   word-break: break-word;
}

body {
   width: 100vw;
   padding: 0;
   margin: 0;
}

.root {
   width: 100vw;
   height: 100vh;
   overflow-x: hidden;
   overflow-y: scroll;
   scroll-snap-type: y proximity;
}

.container {
   scroll-snap-align: start;
}
