.landing-container {
   height: 100vh;

   background-image: url("../assets/images/first_bg.png");
   background-size: cover;
}

.landing-title {
   position: absolute;
   margin: 0;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -80%);

   width: 100%;
}

.landing-title-img {
   width: 100%;
}

.chevron-down {
   position: absolute;
   width: 5vmax;
   bottom: 0;
   left: 50%;

   cursor: pointer;

   animation: bounce 1s infinite;
}

@keyframes bounce {
   0%,
   100% {
      transform: translate(-50%, -25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
   }
   50% {
      transform: translate(-50%, 0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
   }
}

@media screen and (min-width: 768px) {
   .landing-title {
      width: 70%;
   }
}
@media screen and (min-width: 1280px) {
   .landing-title {
      width: 60%;
   }
}
@media screen and (min-width: 1546px) {
   .landing-title {
      width: 50%;
   }
}
