.nations-container {
   height: 100vh;
   background-color: #2f353f;
}

#nations > g {
   cursor: move;
}

.water {
   fill: #fff;
   opacity: 0.2;
}

.land {
   fill: rgba(67, 73, 83, 0.5);
   stroke: #fff;
   stroke-width: 0.7px;
}

.land-selected {
   fill: rgb(67, 73, 83);
   stroke: #fff;
   opacity: 1;
   stroke-width: 0.7px;
}

.land-selected:hover,
.land-selected-fill {
   fill: #ff6f6e;
   stroke-width: 1px;
}
