.map-container {
   height: 100vh;
   overflow-y: scroll;
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
.map-container::-webkit-scrollbar {
   display: none; /* Chrome, Safari, Opera*/
}

#map {
   width: 100%;
   height: 100vh;
}
